html, body {
  margin: 10px;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.main-container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}

.main .main-container {
  position: relative;
  top: 100px;
}

.main h1 {
  color: #fff;
  margin: 0;
  font-size: 150px;
}

.main p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.main .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 50px 0 80px;
  text-align: center;
}

.supporting .col {
  float: left;
  padding: 10px;
  width: 28%;
}

.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.feature .main-container {
  position: relative;
  top: 200px;
}

.feature h2 {
  color: #fff;
  font-size: 40px;
  margin:0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.footer .main-container {
  position: relative;
  top: 200px;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.footer .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover {
  background:#ffa800;
  color:#000;
}
